/* ===================== IMPORTS ======================= */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

/* ===================== STYLING ======================= */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Raleway", sans-serif;
  font-size: 18px;
  padding: 5rem 14rem;
  color: #000;
}

/* ========== header ========= */
header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}

header h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 2.6rem;
  flex-basis: 50%;
}

header .header-desc {
  flex-basis: 40%;
}

header h3 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2;
}

header .header-para {
  font-size: 1rem;
  line-height: 1.3;
}

/* ==========section team ========= */
section.the-team {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}

.profile-img {
  width: 250px;
}

.the-team .team-member {
  flex: 0 0 33.33%; /* flex-grow flex-shrink flex-basis*/
  margin: 4rem 0;
  justify-self: center;

  display: flex;
  justify-content: flex-start;
}

.team-member .designation {
  font-family: "PT Serif", serif;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 10px;
  letter-spacing: 1.5px;
  writing-mode: vertical-rl;
}

.team-member:nth-child(2),
.team-member:nth-child(5) {
  transform: translateY(15%);
}

@media screen and (max-width: 1350px) {
  body {
    padding: 5rem 10rem;
  }

  .profile-img {
    width: 180px;
  }
}

/* ====================  MEDIA QUERIES =================== */
@media screen and (max-width: 1000px) {
  body {
    padding: 3rem 7rem;
  }

  .team-member:nth-child(2),
  .team-member:nth-child(5) {
    transform: translateY(0);
  }

  .team-member:nth-child(2n + 1) {
    transform: translateY(-10%);
  }

  .team-member:nth-child(2n) {
    transform: translateY(10%);
  }
}

@media screen and (max-width: 760px) {
  body {
    padding: 3rem 2rem;
  }

  header {
    display: block;
  }

  header h1 {
    padding-bottom: 2rem;
  }

  .profile-img {
    width: 150px;
  }
}
